default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV.fetch("DB_USERNAME", "postgres") %>
  password: <%= ENV.fetch("DB_PASSWORD", "12345") %>
  host: <%= ENV.fetch("DB_HOST", "localhost") %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  database: preinternship_development
  password: <%= ENV.fetch("DB_PASSWORD", "12345") %>
  <<: *default


production:
  database: <%= ENV.fetch("DB_NAME", "postgres") %>
  port: <%= ENV.fetch("DB_PORT", "5432") %>
  <<: *default

staging:
  database: <%= ENV.fetch("DB_NAME", "postgres") %>
  port: <%= ENV.fetch("DB_PORT", "5432") %>
  <<: *default

test:
  database: preinternship_test
  <<: *default
