@import "bootstrap-sprockets";
@import "bootstrap";

$black:#000;
$white:#fff;
$success:#2b7e2b;

.btn {
  margin-right: 5px;
  margin-bottom: 10px;
}

header {
  background-color: $black;
}

main {
  margin-right: 20px;
  margin-left: 20px;
}

.noticeblock {
  margin-right: 20px;
  margin-left: 20px;
}

.form-control {
  width: 25%;
}

textarea
.form-control {
  min-height: 110px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: 0 10px 10px 0 #00000066;
  overflow: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 15px;
  background: $white;
  color: $color-black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: $success;
  color: $white;
}
